#back {
    color: white;
    /* background-color: blanchedalmond; */
    margin: 30px;
}

#header {
    text-align: center;
}

ul{
    list-style-type: none;
}

.buttons {
    display: inline-flex;
    width: 250px;
    margin: 0 auto;
}
/* #checkout{
    background-color: rgb(111, 235, 111);
}
/* #remove{
    background-color: rgb(162, 116, 116);
} *
/* #inc{
    background-color:blue;
}
#dec{
    background-color:bisque;
} */


body{
    height: 100vh;
    margin: 0;
  }
  button{
    font-size: 1.6rem;
  }
  .full-width {
    width: 100%;
  }
  #root{
    height: 100%;
  }
 /* a:hover{
  } */
  .button.primary{
    background-color: #f0c040;
  }
  /* Cart */
  
  .cart{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    align-items: flex-start;
  }
  .cart-list{
    flex: 3 1 60rem;
  }
  .cart-action{
    flex:1 1 20rem;
    background-color: #f0f0f0; 
    border-radius: .5rem;
    padding: 1rem;
  }
  .cart-list-container {
    padding: 0;
    list-style-type: none;
    padding: 1rem;
  
  }
  .cart-list-container  li{
    display: flex;
    justify-content: space-between;
  
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom:.1rem #c0c0c0 solid;
  }
  .cart-list-container  li img{
    max-width: 10rem;
    max-height: 10rem;
  }
  .cart-list-container  li:first-child{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  }
  .cart-image{
    flex: 1 1;
  }
  .cart-name{
    flex: 8 1;
  }
  .cart-price{
    flex: 1 1;
    font-size: 2.5rem;
    text-align: right;
  } 