.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(73, 183, 198);
    overflow-x: hidden;
    padding-top: 30px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: green;
    display: block;
  }
  #contacticon{
    display: inline-block;
    padding-left: 13px;
  }
  #carticon {
    display: inline-block;
    padding-left: 15px;
  }
  #nav a:hover {
    color: #007bff;
    /* background-color: #007bff; */
  }

  #nav {
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    background-color:black ;

  }
#welcome{
  padding-top: 10%;
  padding-left: 25%;
  padding-right: 25%;
  color: rgb(89, 154, 232);
}              
  /* #navlinks {
    background-color: gray;
  } */

  #nav a{
    color: aliceblue;
    font-size: 13px;

  }
  #homecart {
    margin-left: 10%;
  }